
.board {
  padding: 4rem 0;
  background: rgb(189, 195, 199);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-container {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  height: 20px;
  width: 50%;
}

table {
  border-collapse: collapse;
  width: 60%;
  background-color: #dddddd;
}

td,
th {
  
  text-align: left;
  padding: 8px;
  text-align: center;
}

thead {
  border-bottom: 1px solid grey;
}

/* tr:nth-child(even) {
  background-color: #dddddd;
} */
