.tool-container {
    text-align: center;
    border: solid 1px grey;
    display: inline-block;
    padding: 2rem;
    min-height: 100px;
    border-radius: 5px;
}

.details-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: #339966;
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}

.details-btn:hover {
    color: var(--mainWhite);
}

.tool-container:hover .details-btn {
    transform: translateX(0);
}

.tool-container {
    position: relative;
    overflow: hidden;
}

.tool-container:hover {
    opacity: 0.8;
}

.tool-container h4 {
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    font-weight: 500;
}

.title {
    font-weight: 500;
}