.tool {
  padding: 4rem 0;
  background: rgb(189, 195, 199);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container {
  text-align: center;
  background: #fff;
  display: inline-block;
  padding: 2rem;
  min-height: 260px;
  
}

.item-container h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  font-weight: 500;
}

.title {
  font-weight: 700;
}