@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h4,
p,
a {
  color: #000;
}

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: #339966;
  color: #fff;
  border: 1px solid black;
  cursor: pointer;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.8);
}

.buttons {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  height: 100px;
}
